@page
@model Exercicios.Pages.Repeticao.Para.IndexModel
@{
    ViewData["Title"] = "Estrutura de Repetição - FOR";
}

<div class="text-center">
    <h1 class="display-4">Estrutura de repetição</h1>
    <h2 class="text-center display-4">PARA - FOR</h2>
</div>
<div class="row">
    <div class="card col-lg-4 col-md-6 col-sm-12" style="padding:0">
        <img src="@Url.Content("~/img/tabuada.jpg")" class="card-img-top" alt="Repetição FOR - Tabuada">
        <div class="card-body">
            <h5 class="card-title">Tabuada</h5>
            <p class="card-text">Solicite ao usuário um número e informe a tabuada correspondente.</p>
            <a asp-page="/Repeticao/Para/Exercicio1" class="btn btn-primary">Executar</a>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-12" style="padding:0">
        <img src="@Url.Content("~/img/fibo.jpg")" class="card-img-top" alt="Repetição FOR - Tabuada">
        <div class="card-body">
            <h5 class="card-title">Fibonacci 2</h5>
            <p class="card-text">Escreva um algoritmo que gere a série de Fibonacci até o vigésimo termo.</p>
            <a asp-page="/Repeticao/Para/Exercicio2" class="btn btn-primary">Executar</a>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-12" style="padding:0">
        <img src="@Url.Content("~/img/fat.png")" class="card-img-top" alt="Repetição FOR - Tabuada">
        <div class="card-body">
            <h5 class="card-title">Fatorial</h5>
            <p class="card-text">Faça um algoritmo que calcula o fatorial de um número inteiro fornecido pelo usuário</p>
            <a asp-page="/Repeticao/Para/Exercicio3" class="btn btn-primary">Executar</a>
        </div>
    </div>
</div>
