@page
@model Exercicios.Pages.Repeticao.Enquanto.IndexModel
@{
    ViewData["Title"] = "Etrutura de Repetição - WHILE";
}

<div class="text-center">
    <h1 class="display-4">Estrutura de Repetição</h1>
    <h2 class="text-center display-4"> ENQUANTO - WHILE</h2>
</div>
<div class="row">
    <div class="card col-lg-4 col-md-6 col-sm-12" style="padding:0">
        <img src="@Url.Content("~/img/tabuada.jpg")" class="card-img-top" alt="Repetição WHILE - Tabuada">
        <div class="card-body">
            <h5 class="card-title">Tabuada</h5>
            <p class="card-text">Solicite ao usuário um número e informe a tabuada correspondente.</p>
            <a asp-page="/Repeticao/Enquanto/Exercicio1" class="btn btn-primary">Executar</a>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-12" style="padding:0">
        <img src="@Url.Content("~/img/soma.jpg")" class="card-img-top" alt="Repetição WHILE - Tabuada">
        <div class="card-body">
            <h5 class="card-title">Soma</h5>
            <p class="card-text">Faça um algoritmo que leia um número n, some todos os números inteiros de 1 a 
                n, e mostre o resultado obtido.</p>
            <a asp-page="/Repeticao/Enquanto/Exercicio2" class="btn btn-primary">Executar</a>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-12" style="padding:0">
        <img src="@Url.Content("~/img/fat.png")" class="card-img-top" alt="Repetição WHILE - Tabuada">
        <div class="card-body">
            <h5 class="card-title">Fatorial</h5>
            <p class="card-text">Faça um algoritmo que calcula o fatorial de um número inteiro fornecido pelo usuário</p>
            <a asp-page="/Repeticao/Enquanto/Exercicio3" class="btn btn-primary">Executar</a>
        </div>
    </div>
</div>