@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Projeto criado dentro do curso técnico em desenvolvimento de sistemas.</p>
</div>
