@page
@model Exercicios.Pages.SobreMimModel
@{
    ViewData["Title"] = "Sobre Mim";
}

<h2>Felipe Chagas Bonadio</h2>
<h4>Estudante no curso Técnico em Desenvolvimento de Sistemas, com muita vontade em aprender várias tecnologias e 
    sempre disposto a conhecer novas maneiras de programar!
</h4>
